#############################################################################
#
# W-IFE Passenger Software for {{ platform_plain_english }}
# Version: {{ version }}
#
# Contact: 
#   Program Manager: Lissette Alvis <lissette.alvis@dfp.delta.com>
#   Chief Engineer: Marc LeBlanc <marc.leblanc@dfp.delta.com>
#   DevOps Engineer: Alex Moore <alex.moore@dfp.delta.com>
#############################################################################

artifact_store:
  category: local

to_cfast:
  part: {{ cfast_part }}
  label: W-IFE Passenger Software for {{ platform_plain_english }}
  schema:
    - label: W-IFE Server Passenger SW
      part: {{ server_sw_passenger_part }}
      rollup: {{ cfast_part }}
    
    - label: W-IFE Server Primary Safety Functions SW
      part: {{ server_safety_fns_part }}
      rollup: {{ cfast_part }}

    - label: ITU Passenger ROM SW
      part: {{ itu_part }}
      rollup: {{ cfast_part }}

    - label: ITU Primary Safety Functions SW
      part: {{ itu_safety_fns_part }}
      rollup: {{ cfast_part }}

    - label: Common ITU Map App SW
      part: {{ itu_map_part }}
      rollup: {{ cfast_part }}

    - label: Common ITU Map App SW Assets
      part: {{ itu_map_assets_part }}
      rollup: {{ cfast_part }}

    - label: Common SSL W-IFE Server Certificate
      part: {{ ssl_certs_part }}
      rollup: {{ cfast_part }}
      
  artifacts:
    operational:
      image:
        name: {{ op_server }}
        version: {{ op_server_version }}
        category: rom
        extension: img.gz
        status: rc
        part: {{ server_sw_passenger_part }}
        local_path: ~/.cfast_builder/{{ platform }}-{{ env }}/operational/image/{{ op_server }}-{{ op_server_version }}.img.gz

      packages:
        - name: {{ safety_functions }}
          version: {{ safety_functions_version }}
          category: deb
          extension: deb
          status: release
          part: {{ server_safety_fns_part }}
          local_path: ~/.cfast_builder/{{ platform }}-{{ env }}/operational/packages/{{ safety_functions }}_{{ safety_functions_version }}_amd64.deb

        - name: {{ ssl_certs }}
          version: {{ ssl_certs_version }}
          category: deb
          extension: deb
          status: release
          part: {{ ssl_certs_part }}
          local_path: ~/.cfast_builder/{{ platform }}-{{ env }}/operational/packages/{{ ssl_certs }}_{{ ssl_certs_version }}_amd64.deb

        - name: {{ asxibin_deb }}_{{ asxibin_deb_version }}
          version: ''
          category: deb
          extension: deb
          status: release
          part: {{ itu_map_part }}
          local_path: ~/.cfast_builder/{{ platform }}-{{ env }}/operational/packages/{{ asxibin_deb }}_{{ asxibin_deb_version }}.deb

      itu_rom:
        - name: {{ rom_isd }}
          version: {{ rom_isd_version }}
          category: rom
          extension: zip
          status: rc
          part: {{ itu_part }}
          local_path: ~/.cfast_builder/{{ platform }}-{{ env }}/operational/itu_rom/rom-isd-{{ rom_isd_version }}-otaupdate.zip

      itu_apk:
        - name: {{ fss_apk }}
          version: {{ fss_apk_version }}
          category: rom
          extension: apk
          status: rc
          part: {{ itu_safety_fns_part }}
          local_path: ~/.cfast_builder/{{ platform }}-{{ env }}/operational/itu_apk/{{ fss_apk }}-{{ fss_apk_version }}.apk

        - name: {{ isd_apk }}
          version: {{ isd_apk_version }}
          category: rom
          extension: apk
          status: rc
          plane: airbusa321
          part: {{ itu_part }}
          local_path: ~/.cfast_builder/{{ platform }}-{{ env }}/operational/itu_apk/{{ isd_apk }}-{{ isd_apk_version }}.apk

        - name: {{ airshow_apk }}.{{ airshow_apk_version }}
          version: ''
          category: document
          extension: apk
          part: {{ itu_map_part }}
          local_path: ~/.cfast_builder/{{ platform }}-{{ env }}/operational/itu_apk/{{ airshow_apk }}.{{ airshow_apk_version }}.com.rockwellcollins.asxi.airshowdelta.apk

      content:
        - name: {{ content }}
          version: {{ content_version }}
          category: archive
          extension: tgz
          status: rc
          part: {{ server_sw_passenger_part }}
          local_path: ~/.cfast_builder/{{ platform }}-{{ env }}/operational/content/{{ content }}-{{ content_version }}.tgz

        - name: {{ airshow_tar }}_{{ airshow_tar_version }}.
          version: ''
          category: document
          extension: tar.xz
          part: {{ itu_map_assets_part }}
          local_path: ~/.cfast_builder/{{ platform }}-{{ env }}/operational/content/{{ airshow_tar }}_{{ airshow_tar_version }}.tar.xz

    recovery:
      image:
        name: {{ re_server }}
        version: {{ re_server_version }}
        category: rom
        extension: img.gz
        status: rc
        part: {{ server_sw_passenger_part }}
        local_path: ~/.cfast_builder/{{ platform }}-{{ env }}/recovery/image/{{ re_server }}-{{ re_server_version }}.img.gz

      utilities:
        - name: {{ astronics }}
          version: {{ astronics_version }}
          category: deb
          extension: deb
          status: release
          part: {{ server_sw_passenger_part }}
          local_path: ~/.cfast_builder/{{ platform }}-{{ env }}/recovery/utilities/{{ astronics }}_{{ astronics_version }}_amd64.deb

        - name: {{ xray_status_light }}
          version: {{ xray_status_light_version }}
          category: deb
          extension: deb
          status: release
          part: {{ server_sw_passenger_part }}
          local_path: ~/.cfast_builder/{{ platform }}-{{ env }}/recovery/utilities/{{ xray_status_light }}_{{ xray_status_light_version }}_amd64.deb

    installer:
      name: {{ installer }}
      version: {{ installer_version }}
      category: archive
      extension: tgz
      status: release
      part: {{ cfast_part }}
      unpack: true
      local_path: ~/.cfast_builder/{{ platform }}-{{ env }}/installer/{{ installer }}_{{ installer_version }}.tgz

